---
  - name: set hostname
    hostname:
      name: "{{ basic_hostname }}"

  - name: apt update
    apt: update_cache=yes

  - include: timezone.yml
  - include: ntp.yml

  - name: Remove unneeded packages
    apt: pkg={{item}} state=removed purge=yes
    with_items: "{{basic_remove_packages}}"

  - name: Upgrade apt
    apt: upgrade=yes autoremove=yes

  - name: Install basic packages
    apt: pkg={{item}} state=latest
    with_items: "{{basic_install_packages}}"

  - include: mail.yml
    when: basic_mail_enabled is defined and basic_mail_enabled

  - include: apticron.yml
    when: basic_apticron_enabled is defined and basic_apticron_enabled

  - include: swap.yml
    when: basic_swapfile_enabled is defined and basic_swapfile_enabled
