# {{ ansible_managed }}
# Default settings that all others account inherit
defaults
auth on
tls  on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

logfile  /var/log/msmtp.log

aliases /etc/aliases

account {{ basic_mail_config.account }}
host   {{ basic_mail_config.host }}
port   {{ basic_mail_config.port }}
from   {{ basic_mail_config.from }}
user   {{ basic_mail_config.user }}
password  {{ basic_mail_config.password }}

# Default account to use
account default : {{ basic_mail_config.account }}
